<!--<h1>
    <a href="#/driver">Driver Add</a>
    </h1>-->

    <div class="container">

 <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <img src="\public\images\admin.png" height="100px" width="100%" alt="admin">            
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/driverV">View Driver Data</a></li>
        <li><a href="#/driver">Add Driver Data</a></li>
        <li><a href="#/tariffV">View Tariff Data</a></li>
        <li><a href="#/tariff">Add Tariff Data</a></li>
      </ul>
    </div>
    
    <div class="col-md-9">
        <img src="\public\images\admin.jpg" height="100%" width="100%" alt="admin home">            
    </div>
    <div class="clearfix visible-lg"></div>
  </div>
</div>
