<div class="container">
    <div class="row">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-12"><img src="\public\images\hiremecab1.jpg" width="100%"/></div>
            <!--<div class="col-md-1"></div>-->
    </div>
    <div class="row">
    <!--<div class="col-md-1"></div>-->
    <div class="col-md-12">
        <table style="width:100%">
            <tr>
                <td><br/>We are one of the most reliable Cab Services in Delhi offering the best rates for Cabs in Delhi.
Book a Taxi in Delhi to any place at your convenient time and pickup location.
We also offer cab booking at your fingertips with our mobile app, you may also call us at +91 11 41414141 to rent a taxi with single phone call.
We believe in providing customer friendly cab service in Delhi where you can book now and pay later.
With us it is not necessary for you to pay online to book a radio taxi in Delhi.
Both pick-up and drop reservation can be done at once for Delhi Cabs.
Now you can enjoy our Luxury Cabs @ cheapest rate.
We promise to give you the best Taxi Service in Delhi.</td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>
                <b>About Delhi</b><br/>
Mirza Galib once said, “World is the body and Delhi is its soul?. The capital city of nation lies in the northern hemisphere of India, on the banks of river Yamuna. It is a city which is interwoven web of complexities and beauty, where present has traces of past and can be seen parallel with current dynamism of the modern society. What you see now has risen from the generations of plundering dynasties trying to rule the glorious city. It is a city which is sprinkled with various historical landmarks alongside modern amenities. This remarkable coexistence of both past and present has resulted in a city with diverse culture which absorbs modern interventions while lying true to the traditional values.
If you want to experience the historic exquisiteness of Delhi, you should first go through the sites like Chandni Chowk, Red Fort, Jama Masjid and many others which takes you back to past. Architecture is reminder of Mughal Empire which was prevalent in the province. You can expect array of tourist attractions, amazing food and extravagant nightlife when you are in Delhi.
When you are done with visiting these attractions, you can direct yourself to other major attraction of Delhi – Shopping. If you find yourself an art lover, you can visit the various art-galleries as well. It doesn’t end here. You have many shrines and temples to visit like Jama Masjid, Akshardham, Iskcon and many more. You just need some time to fully explore the City.
If you are looking forward to visit Delhi as tourist, we advise you to take HireMeCab Cabs. If you need delhi airport taxi service, you can rely on HireMeCabs. Online Cab Booking is available too. You can use airport taxi of HireMeCabs in delhi. Call radio taxi in Delhi by booking us at www.hiremecabs.com or call us at: +91-11-41414141
HireMeCab Cabs, which is known car hire service, provide Delhi's finest network of first class air-conditioned, metered taxis, provides total transport solutions for point-to-point travel within Delhi and NCR including pick-ups and drops to the Airport, Railway Stations and other key destinations.
                </td>
            </tr>
        </table>
    </div>
    <!--<div class="col-md-1"></div>-->
    </div>
</div>