<style>
div
{
padding:10px;
}
.alert {
    padding: 20px;
    color: #06121F;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    vertical-align:middle;
}

.closebtn:hover {
    color: black;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 well col-md-offset-4">
            <form>
                <div class="form-group">
                    <img src="\public\images\register.jpg" height="100pt" width="100%" alt="register"/>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Name" ng-model="User.Name" class="form-control" />
                </div>
                <div class="form-group">
                   <input type="text" placeholder="Address" ng-model="User.Address" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" ng-model="User.Email" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" ng-model="User.Password" placeholder="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Confirm Password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" ng-model="User.Phone" placeholder="Phone" class="form-control" />
                </div>
                <div class="form-group">
                <center><button type="button" ng-click="SaveUser()" class="btn btn-success">Register</button></center>
                </div>
            </form>
        </div>
    </div>

<!--
     <div class="row">
   <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <tr>  
        <th>NAME</th>
        <th>CITY</th>
        <th>EMAIL</th>
        <th colspan="2">Operations</th>
      </tr>
      <tr ng-repeat="t in userData">
          <form>
        <td><input type="text" placeholder="Name" ng-model="NewUser.Name"></input>{{t.Name}}</td>
        <td><input type="text" placeholder="City" ng-model="NewUser.City"></input>{{t.City}}</td>
        <td><input type="text" placeholder="Email" ng-model="NewUser.Email"></input>{{t.Email}}</td>
        <td><button ng-click="DeleteUser(t)" class="btn btn-danger" onclick="this.parentElement.style.display='none';">DELETE  <span class="glyphicon glyphicon-remove"></span></button></td>
        <td><button type="button" ng-click="UpdateUser(NewUser,t)" class="btn btn-danger">UPDATE</button></td>
        </form>
      </tr>
    </table>

       </div>
    </div>
</div>-->
